<div class="container py-4 gy-2">

  <h3>Angular buttons</h3>

  <div class="d-grid grid-cols-6 gap">
      <app-button text="primary" themeColor="primary" size="sm"></app-button>
      <app-button text="primary" themeColor="primary" size="sm" fill="outline"></app-button>
      <app-button text="primary" themeColor="primary"></app-button>
      <app-button text="primary" themeColor="primary" fill="outline"></app-button>
      <app-button text="primary" themeColor="primary" size="lg"></app-button>
      <app-button text="primary" themeColor="primary" size="lg" fill="outline"></app-button>

      <app-button text="secondary" [rounded]="false" themeColor="secondary" size="sm"></app-button>
      <app-button text="secondary" [rounded]="false" themeColor="secondary" size="sm" fill="outline"></app-button>
      <app-button text="secondary" [rounded]="false" themeColor="secondary"></app-button>
      <app-button text="secondary" [rounded]="false" themeColor="secondary" fill="outline"></app-button>
      <app-button text="secondary" [rounded]="false" themeColor="secondary" size="lg"></app-button>
      <app-button text="secondary" [rounded]="false" themeColor="secondary" size="lg" fill="outline"></app-button>

      <app-button text="gosho" rounded="pill" themeColor="success" size="sm"></app-button>
      <app-button text="success" rounded="pill" themeColor="success" size="sm" fill="outline"></app-button>
      <app-button text="success" rounded="pill" themeColor="success"></app-button>
      <app-button text="success" rounded="pill" themeColor="success" fill="outline"></app-button>
      <app-button text="success" rounded="pill" themeColor="success" size="lg"></app-button>
      <app-button text="success" rounded="pill" themeColor="success" size="lg" fill="outline"></app-button>

      <app-button text="info" [rounded]="1" themeColor="info" size="sm"></app-button>
      <app-button text="info" [rounded]="1" themeColor="info" size="sm" fill="outline"></app-button>
      <app-button text="info" [rounded]="1" themeColor="info"></app-button>
      <app-button text="info" [rounded]="1" themeColor="info" fill="outline"></app-button>
      <app-button text="info" [rounded]="1" themeColor="info" size="lg"></app-button>
      <app-button text="info" [rounded]="1" themeColor="info" size="lg" fill="outline"></app-button>

      <app-button text="warning" themeColor="warning" size="sm"></app-button>
      <app-button text="warning" themeColor="warning" size="sm" fill="outline"></app-button>
      <app-button text="warning" themeColor="warning"></app-button>
      <app-button text="warning" themeColor="warning" fill="outline"></app-button>
      <app-button text="warning" themeColor="warning" size="lg"></app-button>
      <app-button text="warning" themeColor="warning" size="lg" fill="outline"></app-button>

      <app-button text="error" themeColor="error" size="sm"></app-button>
      <app-button text="error" themeColor="error" size="sm" fill="outline"></app-button>
      <app-button text="error" themeColor="error"></app-button>
      <app-button text="error" themeColor="error" fill="outline"></app-button>
      <app-button text="error" themeColor="error" size="lg"></app-button>
      <app-button text="error" themeColor="error" size="lg" fill="outline"></app-button>
  </div>

</div>
